<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net48" />
  <package id="ByteSize" version="2.1.2" targetFramework="net48" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net48" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net48" />
  <package id="CsvHelper" version="33.1.0" targetFramework="net48" />
  <package id="Dapper" version="2.1.66" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="3.4.1" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.4.1" targetFramework="net48" />
  <package id="EcmaScript.NET" version="2.0.0" targetFramework="net48" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net48" />
  <package id="Gma.QrCodeNet" version="0.4.1.2" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.12.4" targetFramework="net48" />
  <package id="IndexRange" version="1.1.0" targetFramework="net48" />
  <package id="log4net" version="3.2.0" targetFramework="net48" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net48" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net48" />
  <package id="MailKit" version="4.14.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Memory" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
  <package id="MimeKit" version="4.14.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="Pyrus.ApiClient" version="5.2.1" targetFramework="net48" />
  <package id="Quartz" version="2.6.2" targetFramework="net48" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net48" />
  <package id="RestSharp" version="106.15.0" targetFramework="net48" />
  <package id="RollbarSharp" version="1.0.0.0" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" />
  <package id="SquishIt" version="1.0.4" targetFramework="net48" />
  <package id="SquishIt.AspNet" version="1.0.4" targetFramework="net48" />
  <package id="SquishIt.Framework" version="1.0.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.3" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.3" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="10.0.3" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="10.0.3" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.3" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="Telegram.Bot" version="22.9.0" targetFramework="net48" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net48" />
  <package id="VkNet" version="1.63.0" targetFramework="net48" developmentDependency="true" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net48" />
  <package id="YUICompressor.NET" version="2.7.0.0" targetFramework="net48" />
</packages>