<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Настройка метода доставки</h2>
    </div>
    <div class="modal-body">

        <div class="form-group row">
            <label class="col-xs-4 control-label">
                <span class="text-required">Метод доставки</span>
            </label>
            <div class="col-xs-8">
                <select ng-model="ctrl.shippingMethodKey" ng-options="s.label for s in ctrl.shippingMethodKeys track by s.value" class="form-control input-alt" required validation-input-text="Метод доставки"></select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-4 control-label">
                <span>Шаблон ссылки на отслеживание</span>
            </label>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="ctrl.method.TrackingUrl" />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>Сохранить</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">Отмена</button>
    </div>
</form>